<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/1c8722ade6.js" crossorigin="anonymous"></script>
    <title th:text="${title}">Sistema</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <div>
        <main>
            <section>
                <h1 class="fontBackground">MENEFREDA</h1>
                <i class="fa-solid fa-plus icone"></i>
                <p>Para um mundo mais saudável!</p>
            </section>
            <section>
                <h2>Gerenciar Sistema</h2>
                <div class="containerOpcoes">
                    <div>
                        <h3>Gerênciar Pacientes</h3>
                        <a href="pacientes"><i class="fa-solid fa-plus icone"></i></a>
                    </div>
                    <div>
                        <h3>Gerênciar Dependentes</h3>
                        <a href="dependentes"><i class="fa-solid fa-plus icone"></i></a>
                    </div>
                    <div>
                        <h3>Gerênciar Planos</h3>
                        <a href="planos"><i class="fa-solid fa-plus icone"></i></a>
                    </div>
                    <div>
                        <h3>Gerênciar Contratos</h3>
                        <a href="contratos"><i class="fa-solid fa-plus icone"></i></a>
                    </div>
                </div>
            </section>
            <section>
                <h2>Nossos planos</h2>
                <div class="containerPlanos">
                    <div>
                        <h3>Bronze</h3>
                        <h4>Exames</h4>
                        <ul>
                            <li>Colonoscopia</li>
                            <li>Ultrassom abdominal</li>
                            <li>+16 outros</li>
                        </ul>
                        <h4>Procedimentos</h4>
                        <ul>
                            <li>Check-up Anual</li>
                            <li>Serviço de emergência</li>
                            <li>+12 outros</li>
                        </ul>
                        <h4>Áreas disponíveis</h4>
                        <ul>
                            <li>Oftalmologia</li>
                            <li>ginecologista</li>
                            <li>Dermatologista</li>
                            <li>+10 outros</li>
                        </ul>
                        <h4>Por apenas <span class="preco">R$90</span></h4>
                    </div>
                    <div>
                        <h3>Prata</h3>
                        <h4>Exames</h4>
                        <ul>
                            <li>Colonoscopia</li>
                            <li>Ultrassom abdominal</li>
                            <li>Ressonância magnética</li>
                            <li>Hemograma completo</li>
                            <li>+36 outros</li>
                        </ul>
                        <h4>Procedimento</h4>
                        <ul>
                            <li>Check-up Anual</li>
                            <li>Consultas Mensais</li>
                            <li>Terapia</li>
                            <li>Serviço de emergência</li>
                            <li>Exame</li>
                            <li>+65 outros</li>
                        </ul>
                        <h4>Áreas disponíveis</h4>
                        <ul>
                            <li>Psiquiatria</li>
                            <li>Oftalmologia</li>
                            <li>Ginecologista</li>
                            <li>Dermatologista</li>
                            <li>Pediatria</li>
                            <li>Cardiologia</li>
                            <li>+10 outros</li>
                        </ul>
                        <h4>Por apenas <span class="preco">R$140</span></h4>
                    </div>
                    <div>
                        <h3>Gold</h3>
                        <h4>Exames</h4>
                        <ul>
                            <li>Colonoscopia</li>
                            <li>Ultrassom abdominal</li>
                            <li>Ressonância magnética</li>
                            <li>Hemograma completo</li>
                            <li>Eletrocardiograma</li>
                            <li>Ultrassonografia</li>
                            <li>Mamografia</li>
                            <li>Biópsia</li>
                            <li>Amniocentese</li>
                            <li>+64 outros</li>
                        </ul>
                        <h4>Procedimentos</h4>
                        <ul>
                            <li>Check-up Anual</li>
                            <li>Consultas Mensais</li>
                            <li>Terapia</li>
                            <li>Serviço de emergência</li>
                            <li>Exame</li>
                            <li>Rinoplastia</li>
                            <li>Cirurgia de catarata</li>
                            <li>Artroscopia de joelho</li>
                            <li>Biópsia cirúrgica</li>
                            <li>+110 outros</li>
                        </ul>
                        <h4>Áreas disponíveis</h4>
                        <ul>
                            <li>Psiquiatria</li>
                            <li>Oftalmologia</li>
                            <li>Ginecologista</li>
                            <li>Dermatologista</li>
                            <li>Pediatria</li>
                            <li>Cardiologia</li>
                            <li>Pediatria</li>
                            <li>Pneumologia</li>
                            <li>Hematologia</li>
                            <li>+15 outros</li>
                        </ul>
                        <h4>Por apenas <span class="preco">R$180</span></h4>
                    </div>
                    <div>
                        <h3>Diamante</h3>
                        <h4>TODOS OS EXAMES</h4>
                        <ul>
                            <li>Colonoscopia</li>
                            <li>Ultrassom abdominal</li>
                            <li>Ressonância magnética</li>
                            <li>Hemograma completo</li>
                            <li>Eletrocardiograma</li>
                            <li>Ultrassonografia</li>
                            <li>Mamografia</li>
                            <li>Biópsia</li>
                            <li>Amniocentese</li>
                            <li>+97 outros</li>
                        </ul>
                        <h4>TODOS OS NOSSOS PROCEDIMENTOS</h4>
                        <ul>
                            <li>Check-up Anual</li>
                            <li>Consultas Mensais</li>
                            <li>Terapia</li>
                            <li>Serviço de emergência</li>
                            <li>Exame</li>
                            <li>Rinoplastia</li>
                            <li>Cirurgia de catarata</li>
                            <li>Artroscopia de joelho</li>
                            <li>Biópsia cirúrgica</li>
                            <li>+180 outros</li>
                        </ul>
                        <h4>TODAS AS ÁREAS DE ATUAÇÃO</h4>
                        <ul>
                            <li>Psiquiatria</li>
                            <li>Oftalmologia</li>
                            <li>Ginecologista</li>
                            <li>Dermatologista</li>
                            <li>Pediatria</li>
                            <li>Cardiologia</li>
                            <li>Pediatria</li>
                            <li>Pneumologia</li>
                            <li>Hematologia</li>
                            <li>+15 outros</li>
                        </ul>
                        <h4>Por apenas <span class="preco">R$200</span></h4>
                    </div>
                </div>
            </section>
        </main>
        <!-- <footer th:insert="~{fragments/footer :: footer}"></footer> -->
    </div>
</body>
</html>