<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu principal</title>
</head>

<body>
    <nav th:fragment="menu">
        <ul>
            <li><a th:href="@{/}" class="fontBackground">MENEFREDA</a></li>
            <li><a th:href="@{/pacientes}">Pacientes</a></li>
            <li><a th:href="@{/planos}">Planos</a></li>
            <li><a th:href="@{/contratos}">Contratos</a></li>
            <li><a th:href="@{/dependentes}">Dependentes</a></li>
        </ul>
    </nav>
</body>
</html>